 body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#a57777,rgb(94, 107, 152));
 }
 button{
    background-color: #b31a1a;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
 }
 body{
    top: 100;
    font-weight:italic;
    font-size: 60;
    width: 200;
    text-align: center;
    color: #b31a1a;
 }
 img{
    margin-top: 200px;
    border: 10px dashed;
 }
 img{
    position: absolute;
    left: 0;
    top: 0;
    height: 140px;
 }
 body{

 }